@charset "UTF-8";
@import "https://necolas.github.io/normalize.css/5.0.0/normalize.css";
/* Slider */
@import url(../vendors/Muscles/css/muscles.css);
@import url(../vendors/FormStyle/FormStyle.css);
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}

.text-left {
  text-align: left;
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.right {
  float: right;
}

.close-x {
  cursor: pointer;
  display: inline-block;
  height: 1rem;
  position: relative;
  width: 1rem;
}

.close-x:before,
.close-x:after {
  background: #000;
  content: "";
  height: 140%;
  margin-left: 50%;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 1px;
}

.close-x:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.collapsible {
  list-style: none;
  margin: 0;
  padding: 0;
}

.collapsible li > .title {
  cursor: pointer;
}

.collapsible li .content {
  height: 0;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.collapsible li:not(.active) .content {
  height: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: auto;
  max-width: 75rem;
}

.responsive-table {
  overflow: auto;
}

.responsive-video {
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.responsive-video iframe {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

body {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}

a {
  color: #e31937;
  text-decoration: none;
}

a:hover, a:focus {
  color: #762124;
}

a[href^="tel:"] {
  color: inherit;
}

p:last-child {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.25rem 0;
}

h1 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

h2 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1.75rem;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

h4 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  color: #333;
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.button, button, input[type="submit"] {
  background-color: #e31937;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
  display: inline-block;
  font: 700 1rem "PT Serif", serif;
  margin: 0;
  outline: none;
  padding: 0.85em 1em;
  text-transform: uppercase;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  vertical-align: middle;
}

.button:hover, button:hover, input[type="submit"]:hover {
  background-color: #e31937;
  color: white;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.show-for-print {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    box-shadow: none !important;
    color: black !important;
    text-shadow: none !important;
  }
  .show-for-print {
    display: block !important;
  }
  .hide-for-print {
    display: none !important;
  }
  table.show-for-print {
    display: table !important;
  }
  thead.show-for-print {
    display: table-header-group !important;
  }
  tbody.show-for-print {
    display: table-row-group !important;
  }
  tr.show-for-print {
    display: table-row !important;
  }
  td.show-for-print {
    display: table-cell !important;
  }
  th.show-for-print {
    display: table-cell !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  .ir a:after,
  a[href^='javascript:']:after,
  a[href^='#']:after {
    content: '';
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  pre,
  blockquote {
    border: 1px solid #333;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*# sourceMappingURL=framework.css.map */