// if using SASS, we could setup defaults on a per site basis
// Colors: this is iffy. Could define default colors per site as variables to be reused throughout.

// container 
$container-width: 75rem;


// Fonts
$base-font-size: 16px;
$body-font-multiplier: 1.5rem;
$body-line-height: 1.5;
$body-font: 'PT Serif', serif;
$body-font-color: #333;
$body-font-weight: 400;

// links 
$link-color: #e31937;
$link-hover-color: #762124;
$link-text-decoration: none;

// h1-h6 
$h-font: $body-font;
$h-font-color: $body-font-color;
$h-font-weight: 700;
$h-text-transform: uppercase;

$h1-font: $h-font;
$h1-font-color: $h-font-color;
$h1-font-size: 2.25rem;
$h1-font-weight: $h-font-weight;
$h1-text-transform: $h-text-transform;
 
$h2-font: $h-font;
$h2-font-color: $h-font-color;
$h2-font-size: 1.75rem;
$h2-font-weight: $h-font-weight;
$h2-text-transform: $h-text-transform;

$h3-font: $h-font;
$h3-font-color: $h-font-color;
$h3-font-size: 1.5rem;
$h3-font-weight: $h-font-weight;
$h3-text-transform: $h-text-transform;

$h4-font: $h-font;
$h4-font-color: $h-font-color;
$h4-font-size: 1.25rem;
$h4-font-weight: $h-font-weight;
$h4-text-transform: $h-text-transform;

$h5-font: $h-font;
$h5-font-color: $h-font-color;
$h5-font-size: 1.125rem;
$h5-font-weight: $h-font-weight;
$h5-text-transform: $h-text-transform;

$h6-font: $h-font;
$h6-font-color: $h-font-color;
$h6-font-size: 1rem;
$h6-font-weight: $h-font-weight;
$h6-text-transform: $h-text-transform;

// buttons
$button-selector: '.button, button, input[type="submit"]';
$button-background-color: #e31937;
$button-hover-background-color: #e31937;
$button-border: none;
$button-border-radius: 0.25rem;
$button-color: white;
$button-hover-color: white;
$button-font: $body-font;
$button-font-size: 1rem;
$button-font-weight: 700;
$button-padding: .85em 1em;
$button-text-transform: uppercase;
$button-transition: background-color .25s ease-out, color .25s ease-out;










