// configure settings 
@import "config";

// Normalize.css
@import "https://necolas.github.io/normalize.css/5.0.0/normalize.css";

// Slick Carousel
@import "../vendors/slick/slick/slick.scss", "../vendors/slick/slick/slick-theme.scss";

// Muscles Grid
@import "../vendors/muscles/css/sass/muscles";

// Helpers
@import "helper";

// Structure
@import "structure";

// Typography
@import "typography";

// Custom Form Styles
@import "../vendors/FormStyle/FormStyle.css";


// Drupal ( is this a Drupal site? )
//@import "drupal";

// Site ( Are we running the site code through SCSS? )
// @import "app";