// text left
.text-left { 
	text-align: left;
}
// float left
.left {
	float: left;
}
// text right
.text-right {
	text-align: right;
}
// float right
.right { 
	float: right;
}

//.show-for-large and other visibility classes??

.close-x {
	cursor: pointer;
	display: inline-block;
	height: 1rem;
	position: relative;
	width: 1rem;
}

.close-x:before,
.close-x:after {
	background: #000;
	content:"";
	height: 140%;
	margin-left: 50%;
	position: absolute;
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	width: 1px;
}

.close-x:after { transform: rotate(-45deg); }




// Collapsible (Accordion)

.collapsible {
	list-style: none;
	margin: 0;
	padding:0;
}

.collapsible li > .title {
	cursor: pointer;
}
			
.collapsible li .content {
	height: 0;
	overflow:hidden;
	transition: all .3s ease;
}
			
.collapsible li:not(.active) .content {
	height: 0;
}