// text left
.text-left { 
	text-align: left;
}
// float left
.left {
	float: left;
}
// text right
.text-right {
	text-align: right;
}
// float right
.right { 
	float: right;
}

//.show-for-large and other visibility classes??
