// fonts
html {
	font-size: $base-font-size;
	text-rendering: optimizeLegibility;
}

body {	
	@include font($family: ($body-font), $weight: $body-font-weight, $color: $body-font-color, $multiplier: strip-unit($body-font-multiplier));
	line-height: $body-line-height;	
}


// links 
a{	
	color: $link-color;
	&:hover, &:focus {color: $link-hover-color};
	text-decoration: $link-text-decoration;

}

a[href^="tel:"] {
	color: inherit;
}

p {
	margin: 0 0 .625rem;
}

p:last-child {
	margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 1.25rem 0;
}

h1 {
	@include font($multiplier: $h1-font-size, $color: $h1-font-color, $family: $h1-font, $weight: $h1-font-weight);		
	text-transform: $h1-text-transform;
}

h2 {
	@include font($multiplier: $h2-font-size, $color: $h2-font-color, $family: $h2-font, $weight: $h2-font-weight);		
	text-transform: $h2-text-transform;
}

h3 {
	@include font($multiplier: $h3-font-size, $color: $h3-font-color, $family: $h3-font, $weight: $h3-font-weight);		

	text-transform: $h3-text-transform;
}

h4 {
	@include font($multiplier: $h4-font-size, $color: $h4-font-color, $family: $h4-font, $weight: $h4-font-weight);		

	text-transform: $h4-text-transform;
}

h5 {
	@include font($multiplier: $h5-font-size, $color: $h5-font-color, $family: $h5-font, $weight: $h5-font-weight);		

	text-transform: $h5-text-transform;
}

h6 {
	@include font($multiplier: $h6-font-size, $color: $h6-font-color, $family: $h6-font, $weight: $h6-font-weight);
	text-transform: $h6-text-transform;
}



// buttons
#{$button-selector} {
    background-color: $button-background-color;
    border: $button-border;
    border-radius: $button-border-radius;
    color: $button-color;
    cursor: pointer;
    display: inline-block;
    font: $button-font-weight $button-font-size $button-font;
    margin: 0;
    outline: none;
    padding: $button-padding;
    text-transform: $button-text-transform;
    transition: $button-transition;
    vertical-align: middle;   
    
    &:hover {
		background-color: $button-hover-background-color;
		color: $button-hover-color;
	}
}

// bold class
.bold{
	font-weight: 700;
}

// italic class
.italic{
	font-style: italic;
}